---
http_interactions:
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:ticket%0D%0A%2B%20event_id:4187540%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":0,"params":{"wt":"json","rows":"10","start":"0","q":"+
        stubhubDocumentType:ticket\r\n+ event_id:4187540\r\n"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"ticket-488218079","stubhubDocumentType":"ticket","courier":"0","curr_price":78.0,"curPr":78.0,"date_added":"2013-02-25T07:21:23Z","date_last_modified":"2013-02-25T07:22:34Z","delivery_icon":"fedex","end_date":"2013-12-05T00:30:00Z","event_id":"4187540","id":"488218079","priceGroups":"1","quantity":6,"quantity_facet_str":"6
        tickets|6","quantity_remain":6,"row_desc":"V","sale_method":"1","seats":"General
        Admission","section":"Mezzanine Level","seller_cobrand":"www","seller_id":"6802387","showTicketKeyStr":"ticketACTIVE4187540","split_option":"1","status":"0","system_status":"ACTIVE","ticket_list_type_desc":"Ticket","ticket_list_type_id":"1","ticket_medium_id":"2","ticket_split":1,"time_left":"263d
        15h 39m","listing_source_id":"7","listing_source_name":"IndyGen3","updateInitiatedTimestamp":"2013-03-16T08:50:43.161Z","currency_code":"USD","dateLastIndexed":"2013-03-16T08:50:57.348Z","fm_dm_rules":["5,1,4.95,,2013-12-05T00:30:00Z"],"fm_dm_rules_desc":["PDF,Electronic
        - Download,4.95,,2013-12-05T00:30:00Z"]}]}}'
  recorded_at: Sat, 16 Mar 2013 20:52:54 GMT
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:event%0D%0A%2B%20event_id:4187540%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":1,"params":{"wt":"json","rows":"10","start":"0","q":"+
        stubhubDocumentType:event\r\n+ event_id:4187540\r\n +allowedViewingDomain:stubhub.com"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"event-4187540","stubhubDocumentType":"event","event_id":"4187540","act_primary":"2013
        AMT Christmas Show","id":"4187540","active":"1","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"1","ancestorGenreIds":"0
        1 63910 726864","ancestorGeoIds":"0 196976 521 522 63483","channel":"Concert
        tickets","channelId":"1","channelUrlPath":"concert-tickets","channel_facet_str":"Concert
        tickets|1","city":"Lancaster","date_confirm":"2012-12-06T17:55:16Z","date_inhand":"2012-12-07T19:30:16Z","date_last_modified":"2013-03-06T17:36:11Z","date_onsale":"2012-12-07T17:55:17Z","description":"2013
        AMT Christmas Show: The First Noel Tickets","desc_sort":"2013 AMT Christmas
        Show: The First Noel Tickets","eventDate_facet_str":"December, 2013|2013-12","eventGenreParentDescription_facet_str":"AMT
        Christmas Show Tickets|726864","eventGeoDescription":"American Music Theatre
        - Lancaster","eventGeoDescription_text":"American Music Theatre - Lancaster","eventLocation_facet_str":"Pennsylvania,
        Philadelphia|522","event_date":"2013-12-07T00:30:00Z","event_date_local":"2013-12-06","event_date_time_local":"2013-12-06T19:30:00Z","event_time_local":"19:30:00","event_type":"4187540,
        ","evt_segmentation_id":"0","genreDateDesc":"music-genre-alternative-music-tickets","genreUrlPath":"amt-christmas-show-tickets","genre_grand_parent_id":"63910","genre_grand_parent_name":"Artists
        A - C","genre_parent":"726864","genre_parent_name":"AMT Christmas Show Tickets","geoEventTypes":"clubs-bars-theater-venues","geoUrlPath":"american-music-theater-lancaster-tickets","geography_parent":"63483","hide_event_date":"0","image_url":"stubhub_73510_AmericanMusicTheater_Concert.png","is_eticket_allowed":"0","is_integrated_team":"N","keywords":"2013
        AMT Christmas Show, , 2013 AMT Christmas Show American Music Theatre - Lancaster,
        2013 AMT Christmas Show Lancaster,2013 AMT Christmas Show Concert, buy, sell,
        ticket, tickets","last_chance":"2013-12-07T00:30:00Z","maxPrice":78.0,"maxSeatsTogether":6.0,"meta_description":"2013
        AMT Christmas Show American Music Theatre - Lancaster Tickets - Buy and sell
        2013 AMT Christmas Show Lancaster Tickets for December 6 at American Music
        Theatre - Lancaster in Lancaster, PA on StubHub!","minPrice":78.0,"minSeatsTogether":6.0,"name_primary":"American
        Music Theatre - Lancaster","name_secondary":"2013 AMT Christmas Show","nickname":"family","seo_description":"2013
        AMT Christmas Show at American Music Theatre - Lancaster","seo_title":"2013
        AMT Christmas Show American Music Theatre - Lancaster Lancaster Tickets -
        2013-12-6","spark_event_flag":"0","state":"PA","threeLevelsUpIds":"726864
        63910 1","title":"2013 AMT Christmas Show Lancaster Tickets - 2013 AMT Christmas
        Show 12/06/2013 American Music Theatre - Lancaster Tickets on StubHub!","totalPostings":1,"totalTickets":6.0,"type_id":"0","urlpath":"2013-amt-christmas-show-lancaster-american-music-theatre---lancaster-6-12-2013-4187540","urlpathid":"2230804","venue_config_id":"73510","venue_name":"American
        Music Theatre - Lancaster","venue_name_text":"American Music Theatre - Lancaster","venueconfigurationid":"73510","zip":"17605","artistPrimaryStyle":"178738","is_event_package":"0","latitude":40.02485,"longitude":-76.200516,"lat_lon":"40.0248492,-76.200516","date_added":"2012-12-07T17:55:17Z","event_status_id":2,"timezone":"EST","timezone_id":"2","venue_config_name":"Theater","updateInitiatedTimestamp":"2013-04-01T12:43:00.522Z","book_of_business_id":1,"currency_code":"USD","event_config_template_id":"1","event_config_template":"Concert","keywords_en_US":"2013
        AMT Christmas Show, , 2013 AMT Christmas Show American Music Theatre - Lancaster,
        2013 AMT Christmas Show Lancaster,2013 AMT Christmas Show Concert, buy, sell,
        ticket, tickets","event_type_en_US":"4187540, ","seo_title_en_US":"2013 AMT
        Christmas Show American Music Theatre - Lancaster Lancaster Tickets - 2013-12-6","seo_description_en_US":"2013
        AMT Christmas Show at American Music Theatre - Lancaster","name_primary_en_US":"American
        Music Theatre - Lancaster","name_secondary_en_US":"2013 AMT Christmas Show","act_primary_en_US":"2013
        AMT Christmas Show","title_en_US":"2013 AMT Christmas Show Lancaster Tickets
        - 2013 AMT Christmas Show 12/06/2013 American Music Theatre - Lancaster Tickets
        on StubHub!","meta_description_en_US":"2013 AMT Christmas Show American Music
        Theatre - Lancaster Tickets - Buy and sell 2013 AMT Christmas Show Lancaster
        Tickets for December 6 at American Music Theatre - Lancaster in Lancaster,
        PA on StubHub!","event_description_en_US":"2013 AMT Christmas Show: The First
        Noel Tickets","jdk_timezone":"US/Eastern","ptv_integrated_event_ind":0,"venueDetailUrlPath":"american-music-theater-lancaster","access_control_method":0,"is_scrubbing_enabled":"0","view_from_section_ind":0,"bundled_type":"1","hide_event_time":0,"minListPrice":78.0,"dateLastIndexed":"2013-04-01T12:44:48.606Z","genreStartingAlphabet":["a"],"allowedViewingDomain":["stubhub.com"],"locale":["en_US"],"ancestorGeoDescriptions":["By
        Geography","United States","Pennsylvania","Philadelphia","American Music Theatre
        - Lancaster"],"artistSecondaryStyle":["195743"],"ancestorGenreDescriptions":["All
        tickets","Concert tickets","Artists A - C","AMT Christmas Show Tickets"]}]}}'
  recorded_at: Mon, 01 Apr 2013 23:34:37 GMT
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:event%0D%0A%2B%20description:above%20and%20beyond%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":1,"params":{"wt":"json[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=%2Bevent_id:4187540%20AND%20%2BstubhubDocumentType:event&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":79,"params":{"wt":"json","rows":"10","[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=%2Bdescription:%22above%20and%20beyond%22%20AND%20%2BstubhubDocumentType:event&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":1,"params":{"wt"[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=%2BstubhubDocumentType:ticket&rows=1&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":0,"params":{"wt":"json","rows":"10","start":"0","q":"+stubhubDocumentType:ticket"}},"response":{"numFound":2500264,"start":0,"docs":[{"stubhubDocumentId":"ticket-493962295","stubhubDocumentType":"ticket","alias":"Main
        Floor","aliasStr":"1","courier":"0","curr_price":95.0,"curPr":95.0,"date_added":"2013-04-17T14:49:17Z","date_last_modified":"2013-04-23T21:13:05Z","delivery_icon":"fedex","end_date":"2013-06-07T00:00:00Z","event_id":"4236695","hasAliasBool":true,"id":"493962295","priceGroups":"1","quantity":2,"quantity_facet_str":"2
        tickets|2","quantity_remain":2,"row_desc":"J","sale_method":"1","seats":"16,17","section":"Main
        Floor","seller_cobrand":"www","seller_id":"2365165","showTicketKeyStr":"ticketACTIVE4236695","split_option":"1","status":"0","system_status":"ACTIVE","ticket_list_type_desc":"Ticket","ticket_list_type_id":"1","ticket_medium_id":"2","ticket_split":2,"time_left":"43d
        15h 24m","venue_config_sections_id":"469809","zoneid":"90236","zonedesc":"Main
        Floor","listing_source_id":"7","listing_source_name":"IndyGen3","updateInitiatedTimestamp":"2013-04-24T08:35:48.808Z","currency_code":"USD","list_price":95.0,"dateLastIndexed":"2013-04-24T08:39:22.457Z","fm_dm_rules":["4,2,4.95,,2013-06-07T00:00:00Z"],"fm_dm_rules_desc":["PDF
        - PreDelivery,Electronic - Instant Download,4.95,,2013-06-07T00:00:00Z"]},{"stubhubDocumentId":"ticket-494445780","stubhubDocumentType":"ticket","alias":"Lower
        Sideline 115","aliasStr":"1","courier":"0","curr_price":87.8,"curPr":87.8,"date_added":"2013-04-20T01:17:17Z","date_last_modified":"2013-04-20T19:08:08Z","delivery_icon":"fedex","end_date":"2013-08-06T19:00:00Z","event_id":"4267457","hasAliasBool":true,"id":"494445780","priceGroups":"1","quantity":3,"quantity_facet_str":"3
        tickets|3","quantity_remain":3,"row_desc":"16","sale_method":"1","seats":"13,14,15","section":"Lower
        Sideline 115","seller_cobrand":"www","seller_id":"3947497","showTicketKeyStr":"ticketACTIVE4267457","split_option":"0","status":"0","system_status":"ACTIVE","ticket_list_type_desc":"Ticket","ticket_list_type_id":"1","ticket_medium_id":"1","ticket_split":3,"time_left":"104d
        10h 20m","venue_config_sections_id":"17613","structuredTicketFeatures":"|Aisle","structuredTicketFeaturesIds":"101","structuredTicketFeaturesTypes":"|Ticket
        Feature","zoneid":"2829","zonedesc":"Lower Sideline","listing_source_id":"7","listing_source_name":"IndyGen3","updateInitiatedTimestamp":"2013-04-24T08:39:55.744Z","currency_code":"USD","list_price":78.0,"dateLastIndexed":"2013-04-24T08:39:58.891Z","fm_dm_rules":["9,12,15.0,,2013-08-10T00:00:00Z","10,22,19.95,,2013-08-06T19:00:00Z","10,24,11.95,,2013-07-26T19:00:00Z"],"fm_dm_rules_desc":["LMS
        - PreDelivery,Pickup,15.0,,2013-08-10T00:00:00Z","UPS,UPS Worldwide Saver,19.95[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=%2BstubhubDocumentType:ticket&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":1,"params":{"wt":"json","rows":"1","q":"+stubhubDocumentType:ticket"}},"response":{"numFound":2447434,"start":0,"docs":[{"stubhubDocumentId":"ticket-481944204","stubhubDocumentType":"ticket","alias":"Lower
        Box 15","aliasStr":"1","courier":"0","curr_price":66.9,"curPr":66.9,"date_added":"2013-01-19T19:05:57Z","date_last_modified":"2013-04-24T03:13:19Z","delivery_icon":"fedex","end_date":"2013-06-29T19:05:00Z","event_id":"4170551","hasAliasBool":true,"id":"481944204","priceGroups":"1","quantity":4,"quantity_facet_str":"4
        tickets|4","quantity_remain":4,"row_desc":"5","sale_method":"1","seats":"9,10,11,12","section":"15","seller_cobrand":"largesellersrr","seller_id":"1756224","showTicketKeyStr":"ticketPENDING
        LOCK4170551","split_option":"2","status":"0","system_status":"PENDING LOCK","ticket_list_type_desc":"Ticket","ticket_list_type_id":"1","ticket_medium_id":"3","ticket_split":1,"time_left":"66d
        10h 30m","venue_config_sections_id":"140588","zoneid":"3976","zonedesc":"Lower
        Box","external_listing_id":"8975","listing_source_id":"9","listing_source_name":"TicketTechnology","updateInitiatedTimestamp":"2013-04-24T08:34:09.168Z","currency_code":"USD","list_price":59.0,"dateLastIndexed":"2013-04-24T08:34:16.636Z","fm_dm_rules":["2,2,5.45,,2013-06-30T17:05:00Z"],"fm_dm_rules_desc":["Barcode
        - PreDelivery (Non-STH),Electronic - Instant Download,5.45,,2013-06-30T17:05:00Z"]}]}}'
  recorded_at: Sat, 27 Apr 2013 08:53:51 GMT
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=%2Bevent_id:4170551%20AND%20%2BstubhubDocumentType:event&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":20,"params":{"wt":"json","rows":"5500","q":"+event_id:4170551
        AND +stubhubDocumentType:event +allowedViewingDomain:stubhub.com"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"event-4170551","stubhubDocumentType":"event","event_id":"4170551","act_primary":"Texas
        Rangers","act_secondary":"Cincinnati Reds","id":"4170551","active":"1","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"1","ancestorGenreIds":"0
        28 29 81 115753 4343","ancestorGeoIds":"0 196976 671 672 2921","channel":"Sports
        tickets","channelId":"28","channelUrlPath":"sports-tickets","channel_facet_str":"Sports
        tickets|28","city":"Arlington","date_confirm":"2012-11-08T06:00:00Z","date_inhand":"2013-02-24T19:00:00Z","date_last_modified":"2013-04-17T18:13:11Z","date_onsale":"2012-11-09T17:1[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=%2Bevent_id:4170551%20AND%20%2BstubhubDocumentType:ticket&rows=2&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":3,"params":{"wt":"json","rows":"2","q":"+event[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=%2Bdescription:%22above%20and%20beyond%22%20AND%20%2BstubhubDocumentType:event&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":2,"params":{"wt":"json","rows":"[...]
[...]
