---
http_interactions:
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:ticket%0D%0A%2B%20event_id:4187540%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":0,"params":{"wt":"json","rows":"10","start":"0","q":"+
        stubhubDocumentType:ticket\r\n+ event_id:4187540\r\n"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"ticket-488218079","stubhubDocumentType":"ticket","courier":"0","curr_price":78.0,"curPr":78.0,"date_added":"2013-02-25T07:21:23Z","date_last_modified":"2013-02-25T07:22:34Z","delivery_icon":"fedex","end_date":"2013-12-05T00:30:00Z","event_id":"4187540","id":"488218079","priceGroups":"1","quantity":6,"quantity_facet_str":"6
        tickets|6","quantity_remain":6,"row_desc":"V","sale_method":"1","seats":"General
        Admission","section":"Mezzanine Level","seller_cobrand":"www","seller_id":"6802387","showTicketKeyStr":"ticketACTIVE4187540","split_option":"1","status":"0","system_status":"ACTIVE","ticket_list_type_desc":"Ticket","ticket_list_type_id":"1","ticket_medium_id":"2","ticket_split":1,"time_left":"263d
        15h 39m","listing_source_id":"7","listing_source_name":"IndyGen3","updateInitiatedTimestamp":"2013-03-16T08:50:43.161Z","currency_code":"USD","dateLastIndexed":"2013-03-16T08:50:57.348Z","fm_dm_rules":["5,1,4.95,,2013-12-05T00:30:00Z"],"fm_dm_rules_desc":["PDF,Electronic
        - Download,4.95,,2013-12-05T00:30:00Z"]}]}}'
  recorded_at: Sat, 16 Mar 2013 20:52:54 GMT
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:event%0D%0A%2B%20event_id:4187540%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":1,"params":{"start":"0","q":"+stubhubDocumentType:event\r\n+event_id:4187540\r\n
        +allowedViewingDomain:stubhub.com","wt":"json","rows":"10"}},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Mon, 13 Jan 2014 21:28:28 GMT
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:event%0D%0A%2B%20description:above%20and%20beyond%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":1,"params":{"start":"0","q":"+stubhubDocumentType:event\r\n+description:above
        and beyond\r\n +allowedViewingDomain:stubhub.com","wt":"json","rows":"10"}},"response":{"numFound":35,"start":0,"docs":[{"stubhubDocumentId":"event-4438230","stubhubDocumentType":"event","event_id":"4438230","act_primary":"Above
        and Beyond","id":"4438230","active":"1","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"1","ancestorGenreIds":"0
        1 63910 494083","ancestorGeoIds":"0 196976 724 78083 214620","channel":"Concert
        tickets","channelId":"1","channelUrlPath":"concert-tickets","channel_facet_str":"Concert
        tickets|1","city":"Atlantic City","date_confirm":"2013-12-25T16:45:38Z","date_inhand":"2013-12-26T16:45:38Z","date_last_modified":"2013-12-26T16:45:39Z","date_onsale":"2013-12-26T16:45:38Z","description":"Above
        and Beyond Tickets (21+ Event)","desc_sort":"Above and Beyond Tickets (21+
        Event)","eventDate_facet_str":"January, 2014|2014-01","eventGenreParentDescription_facet_str":"Above
        and Beyond Tickets|494083","eventGeoDescription":"HQ Nightclub","eventGeoDescription_text":"HQ
        Nightclub","eventLocation_facet_str":"New Jersey, Atlantic City|78083","event_date":"2014-02-01T03:00:00Z","event_date_local":"2014-01-31","event_date_time_local":"2014-01-31T22:00:00Z","event_time_local":"22:00:00","event_type":"4438230,","evt_segmentation_id":"0","genreDateDesc":"music-genre-dance-music-tickets,,Concert,
        concert, gigs, tickets, tour, dates, biography","genreUrlPath":"above-and-beyond-tickets","genre_grand_parent_id":"63910","genre_grand_parent_name":"Artists
        A - C","genre_parent":"494083","genre_parent_name":"Above and Beyond Tickets","geoEventTypes":"clubs-bars-theater-venues","geoUrlPath":"hq-nightclub-tickets","geography_parent":"214620","hide_event_date":"0","is_eticket_allowed":"0","is_integrated_team":"N","keywords":"Above
        and Beyond, , Above and Beyond HQ Nightclub, Above and Beyond Atlantic City,Above
        and Beyond Concert, buy, sell, ticket, tickets","last_chance":"2014-02-01T03:00:00Z","maxPrice":300.0,"maxSeatsTogether":7.0,"meta_description":"Above
        and Beyond HQ Nightclub Tickets - Buy and sell Above and Beyond Atlantic City
        Tickets for January 31 at HQ Nightclub in Atlantic City, NJ on StubHub!","minPrice":170.0,"minSeatsTogether":1.0,"name_primary":"HQ
        Nightclub","name_secondary":"Above and Beyond","nickname":"concerts","seo_description":"Above
        and Beyond at HQ Nightclub","seo_title":"Above and Beyond HQ Nightclub Atlantic
        City Tickets - 2014-1-31","spark_event_flag":"0","state":"NJ","threeLevelsUpIds":"494083
        63910 1","title":"Above and Beyond Atlantic City Tickets - Above and Beyond
        01/31/2014 HQ Nightclub Tickets on StubHub!","totalPostings":14,"totalTickets":41.0,"type_id":"0","urlpath":"above-and-beyond-atlantic-city-hq-nightclub-31-1-2014-4438230","urlpathid":"2493201","venue_config_id":"601000","venue_name":"HQ
        Nightclub","venue_name_text":"HQ Nightclub","venueconfigurationid":"601000","zip":"08401","defaultDomain":"stubhub.com","allowedViewingDomain":["stubhub.com"],"artistPrimaryStyle":"195489","genreStartingAlphabet":["a"],"is_event_package":"0","latitude":39.361656,"longitude":-74.41358,"lat_lon":"39.36165601,-74.41358","date_added":"2013-12-26T16:45:38Z","event_status_id":2,"ancestorGenreDescriptions":["All
        tickets","Concert tickets","Artists A - C","Above and Beyond Tickets"],"ancestorGeoDescriptions":["By
        Geography","United States","New Jersey","Atlantic City","HQ Nightclub"],"timezone":"EST","timezone_id":"2","venue_config_name":"General
        Admission","updateInitiatedTimestamp":"2014-01-13T20:00:46.838Z","book_of_business_id":1,"currency_code":"USD","event_config_template_id":"1","event_config_template":"Concert","locale":["en_US"],"keywords_en_US":"Above
        and Beyond, , Above and Beyond HQ Nightclub, Above and Beyond Atlantic City,Above
        and Beyond Concert, buy, sell, ticket, tickets","event_type_en_US":"4438230,","seo_title_en_US":"Above
        and Beyond HQ Nightclub Atlantic City Tickets - 2014-1-31","seo_description_en_US":"Above
        and Beyond at HQ Nightclub","name_primary_en_US":"HQ Nightclub","name_secondary_en_US":"Above
        and Beyond","act_primary_en_US":"Above and Beyond","title_en_US":"Above and
        Beyond Atlantic City Tickets - Above and Beyond 01/31/2014 HQ Nightclub Tickets
        on StubHub!","meta_description_en_US":"Above and Beyond HQ Nightclub Tickets
        - Buy and sell Above and Beyond Atlantic City Tickets for January 31 at HQ
        Nightclub in Atlantic City, NJ on StubHub!","event_description_en_US":"Above
        and Beyond Tickets (21+ Event)","jdk_timezone":"US/Eastern","ptv_integrated_event_ind":0,"venueDetailUrlPath":"hq-nightclub","access_control_method":0,"is_scrubbing_enabled":"0","view_from_section_ind":0,"bundled_type":"2","hide_event_time":0,"minListPrice":152.73,"venue_config_map_type":0,"dateLastIndexed":"2014-01-13T20:03:09.474Z","_version_":1457146706836586496},{"stubhubDocumentId":"event-4409067","stubhubDocumentType":"event","event_id":"4409067","act_primary":"Resolution
        2014","act_secondary":"Knife Party","id":"4409067","active":"0","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"0","ancestorGenreIds":"0
        1 63910 494083","ancestorGeoIds":"0 196976 692 693 82095","channel":"Concert
        tickets","channelId":"1","channelUrlPath":"concert-tickets","channel_facet_str":"Concert
        tickets|1","city":"Seattle","date_confirm":"2013-11-17T20:34:29Z","date_inhand":"2013-11-18T20:34:29Z","date_last_modified":"2014-01-01T03:11:18Z","date_onsale":"2013-11-18T20:34:29Z","de[...]
[...]
