---
http_interactions:
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:geo%0D%0A%2B%20localeDescription:SF%20Bay%20Area%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":2,"params":{"wt":"json","rows":"10","start":"0","q":"+
        stubhubDocumentType:geo\r\n+ localeDescription:SF Bay Area\r\n"}},"response":{"numFound":329,"start":0,"docs":[{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-145804","active":"1","deleted":"0","description":"Fox
        Theatre Oakland","desc_sort":"Fox Theatre Oakland","geoId":"145804","id":"145804","hidden":"0","ancestorGeoIds":"145804
        81 4 196976 0","ancestorKeywords":"Fox Theater Oakland seating chart box office
        address capacity floor plan best seats images parking directions to details
        information restaurants SF Bay Area event ticketsSF Bay Area Venues events
        in SF Bay Areatickets for events in SF Bay Area sfbay sf s.f. bay California
        event ticketsCalifornia Venues events in Californiatickets for events in California
        ca cali cal United States event ticketsUnited States Venues events in United
        Statestickets for events in United States event tickets by city","categorySearchKeywords":"Fox
        Theatre Oakland Fox Theater Oakland - Info and Details - StubHub! All the
        information you need on Fox Theater Oakland like seating charts directions
        box office address. Find nearby parking restaurants and hotels near Fox Theater
        Oakland on StubHub! Fox Theater Oakland seating chart box office address capacity
        floor plan best seats images parking directions to details information restaurants
        Fox Theatre Oakland Fox Theater Oakland Fox Theater Oakland Fox Theater Oakland
        clubs-bars-theater-venues Fox Theatre Oakland","categoryType":"geo","channel":"United
        States","channelId":"196976","channelUrlPath":"united-states-tickets","do_not_display_flag":"0","event_types":"clubs-bars-theater-venues","fullDescription":"SF
        Bay Area, California in Fox Theatre Oakland","isValidCategorySearchResult":"1","keywords":"Fox
        Theater Oakland seating chart, box office, address, capacity, floor plan,
        best seats, images, parking, directions to, details, information, restaurants","leaf":"true","localeDescription":"SF
        Bay Area, California","meta_description":"All the information you need on
        Fox Theater Oakland, like seating charts, directions, box office, address.
        Find nearby parking, restaurants and hotels near Fox Theater Oakland on StubHub!","name_primary":"Fox
        Theater Oakland","name_secondary":"Fox Theater Oakland","parent_id":"81","season_venue_flag":"0","seo_description":"Fox
        Theater Oakland","seo_title":"Fox Theatre Oakland","threeLevelsUpIds":"145804
        81 4","title":"Fox Theater Oakland - Info and Details - StubHub!","urlpath":"fox-theatre-oakland-tickets","urlpathid":"440281","ancestorDescription":"Fox
        Theatre Oakland SF Bay Area California United States By Geography","date_last_modified":"2013-02-20T08:13:32Z","venueDetailUrlPath":"fox-theatre-oakland","venueDetailUrlPathId":"2073287","dateLastIndexed":"2013-03-22T12:53:50.062Z","locale":["en_US"]},{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-33270","active":"1","deleted":"0","description":"Element
        Lounge","desc_sort":"Element Lounge","geoId":"33270","id":"33270","hidden":"1","ancestorGeoIds":"33270
        81 4 196976 0","ancestorKeywords":"Element Lounge TicketsElement Lounge event
        ticketsElement Lounge schedule buy sell ticket SF Bay Area event ticketsSF
        Bay Area Venues events in SF Bay Areatickets for events in SF Bay Area sfbay
        sf s.[...]
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:geo%0D%0A%2B%20geoId:81989%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":21,"params":{"wt":"json","rows":"10","start":[...]
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:geo%0D%0A%2B%20description:Bob%20Hope%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":1,"params":{"wt":"json","rows":"10[...]
