---
http_interactions:
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=description:%22Hawaii%22%20AND%20stubhubDocumentType:%22geo%22&rows=2&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":1,"params":{"q":"description:\"Hawaii\" AND stubhubDocumentType:\"geo\"","wt":"json","rows":"2"}},"response":{"numFound":4,"start":0,"docs":[{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-421","active":"1","deleted":"0","description":"Hawaii","desc_sort":"Hawaii","geoId":"421","id":"421","hidden":"0","childId":"422 33782 79798","ancestorGeoIds":"421 196976 0","ancestorKeywords":"Hawaii event ticketsHawaii Venues events in Hawaiitickets for events in Hawaii ha hai United States event tickets United States Venues events in United States tickets for events in United States event tickets by city","categorySearchKeywords":"Hawaii Hawaii Event Tickets Hawaii event tickets - Buy and sell tickets to events in Hawaii. You can find event tickets to different venues in Hawaii at StubHub! Hawaii event ticketsHawaii Venues events in Hawaiitickets for events in Hawaii ha hai Hawaii Event Tickets Hawaii Venues Hawaii  Hawaii","categoryType":"geo","channel":"United States","channelId":"196976","channelUrlPath":"united-states-tickets","do_not_display_flag":"1","fullDescription":"United States, By Geography in Hawaii","isValidCategorySearchResult":"1","keywords":"Hawaii event tickets,Hawaii Venues, events in Hawaii,tickets for events in Hawaii, ha, hai,","leaf":"false","localeDescription":"United States, By Geography","meta_description":"Hawaii event tickets - Buy and sell tickets to events in Hawaii. You can find event tickets to different venues in Hawaii at StubHub!","name_primary":"Hawaii","parent_id":"196976","season_venue_flag":"0","seo_description":"Hawaii Venues","seo_title":"Hawaii Event Tickets","threeLevelsUpIds":"421 196976 0","title":"Hawaii Event Tickets","urlpath":"hawaii-tickets","urlpathid":"49667","ancestorDescription":"Hawaii United States By Geography","date_last_modified":"2013-04-17T18:13:11Z","locale":["en_US"],"geography_meta_description":"Hawaii","venueDetailUrlPath":"hawaii","venueDetailUrlPathId":"2069516","nodeType":"Geo","ancestorGeoPath":"196976/421","ancestorGeoDescriptions":["United States","Hawaii"],"dateLastIndexed":"2014-02-18T12:40:02.674Z","_version_":1460380319397969921},{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-155125","active":"1","deleted":"0","description":"Hawaii Theatre","desc_sort":"Hawaii Theatre","geoId":"155125","id":"155125","hidden":"0","ancestorGeoIds":"155125 422 421 196976 0","ancestorKeywords":"Hawaii Theatre TicketsHawaii Theatre event ticketsHawaii Theatre schedule buy sell ticket Hawaii Theatre - Honolulu Honolulu event ticketsHonolulu Venues events in Honolulutickets for events in Honolulu Hawaii event ticketsHawaii Venues events in Hawaiitickets for events in Hawaii ha hai United States event tickets United States Venues events in United States tickets for events in United States event tickets by city","categorySearchKeywords":"Hawaii Theatre Hawaii Theatre Tickets - Hawaii Theatre Schedule at StubHub! Hawaii Theatre Tickets - Buy and sell Hawaii Theatre event tickets and check out the Hawaii Theatre schedule in Honolulu HI at StubHub! Hawaii Theatre TicketsHawaii Theatre event ticketsHawaii Theatre schedule buy sell ticket Hawaii Theatre - Honolulu Hawaii Theatre Tickets - Hawaii Theatre Events Hawaii Theatre Tickets Hawaii Theatre - Honolulu hawaii-theatre clubs-bars-theater-venues Hawaii Theatre","categoryType":"geo","channel":"United States","channelId":"196976","channelUrlPath":"united-states-tickets","do_not_display_flag":"0","event_types":"clubs-bars-theater-venues","fullDescription":"Honolulu, Hawaii in Hawaii Theatre","isValidCategorySearchResult":"1","keywords":"Hawaii Theatre Tickets,Hawaii Theatre event tickets,Hawaii Theatre schedule, buy, sell, ticket, Hawaii Theatre - Honolulu","leaf":"true","localeDescription":"Honolulu, Hawaii","meta_description":"Hawaii Theatre Tickets - Buy and sell Hawaii Theatre event tickets and check out the Hawaii Theatre schedule in Honolulu, HI at StubHub!","name_primary":"Hawaii Theatre - Honolulu","parent_id":"422","season_venue_flag":"0","seo_description":"Hawaii Theatre Tickets","seo_title":"Hawaii Theatre Tickets - Hawaii Theatre Events","threeLevelsUpIds":"155125 422 421","title":"Hawaii Theatre Tickets - Hawaii Theatre Schedule at StubHub!","urlpath":"hawaii-theatre-tickets","urlpathid":"497474","ancestorDescription":"Hawaii Theatre Honolulu Hawaii United States By Geography","home_team":"hawaii-theatre","date_last_modified":"2013-04-17T18:13:11Z","locale":["en_US"],"geography_meta_description":"Hawaii Theatre","venueDetailUrlPath":"hawaii-theatre","venueDetailUrlPathId":"2073637","nodeType":"Venue","ancestorGeoPath":"196976/421/422","ancestorVenuePath":"155125","ancestorGeoDescriptions":["United States","Hawaii","Honolulu"],"dateLastIndexed":"2014-02-18T12:44:38.332Z","_version_":1460380610204794880}]}}
  recorded_at: Thu, 20 Feb 2014 05:18:18 GMT
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=localeDescription:%22SF%20Bay%20Area%22%20AND%20stubhubDocumentType:%22geo%22&rows=2&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":3,"params":{"q":"local[...]
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/select/?q=geoId:%2281989%22%20AND%20stubhubDocumentType:%22geo%22&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":5,"params":{"q":"geoId:\"81989\" AND stubhub[...]
