---
http_interactions:
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:geo%0D%0A%2B%20localeDescription:SF%20Bay%20Area%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":2,"params":{"start":"0","q":"+stubhubDocumentType:geo\r\n+localeDescription:SF
        Bay Area\r\n","wt":"json","rows":"10"}},"response":{"numFound":402,"start":0,"docs":[{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-59782","active":"1","deleted":"0","description":"Konocti
        Harbor Resort and Spa - Indoor Showroom","desc_sort":"Konocti Harbor Resort
        and Spa - Indoor Showroom","geoId":"59782","id":"59782","hidden":"1","ancestorGeoIds":"59782
        81 4 196976 0","ancestorKeywords":"Konocti Harbor Resort and Spa - Indoor
        Showroom TicketsKonocti Harbor Resort and Spa - Indoor Showroom event ticketsKonocti
        Harbor Resort and Spa - Indoor Showroom schedule buy sell ticket SF Bay Area
        event ticketsSF Bay Area Venues events in SF Bay Areatickets for events in
        SF Bay Area sfbay sf s.f. bay California event ticketsCalifornia Venues events
        in Californiatickets for events in California ca cali cal United States event
        tickets United States Venues events in United States tickets for events in
        United States event tickets by city","categorySearchKeywords":"Konocti Harbor
        Resort and Spa - Indoor Showroom Konocti Harbor Resort and Spa - Indoor Showroom
        Tickets - Konocti Harbor Resort and Spa - Indoor Showroom Schedule at StubHub!
        Konocti Harbor Resort and Spa - Indoor Showroom Tickets - Buy and sell Konocti
        Harbor Resort and Spa - Indoor Showroom event tickets and check out the Konocti
        Harbor Resort and Spa - Indoor Showroom schedule in Kelseyville CA at StubHub!
        Konocti Harbor Resort and Spa - Indoor Showroom TicketsKonocti Harbor Resort
        and Spa - Indoor Showroom event ticketsKonocti Harbor Resort and Spa - Indoor
        Showroom schedule buy sell ticket Konocti Harbor Resort and Spa - Indoor Showroom
        Tickets - Konocti Harbor Resort and Spa - Indoor Showroom Events Konocti Harbor
        Resort and Spa - Indoor Showroom Tickets Konocti Harbor Resort and Spa - Indoor
        Showroom - Kelseyville konocti-harbor-resort-and-spa-indoor-showroom clubs-bars-theater-venues
        Konocti Harbor Resort and Spa - Indoor Showroom","categoryType":"geo","channel":"United
        States","channelId":"196976","channelUrlPath":"united-states-tickets","do_not_display_flag":"0","event_types":"clubs-bars-theater-venues","fullDescription":"SF
        Bay Area, California in Konocti Harbor Resort and Spa - Indoor Showroom","isValidCategorySearchResult":"1","keywords":"Konocti
        Harbor Resort and Spa - Indoor Showroom Tickets,Konocti Harbor Resort and
        Spa - Indoor Showroom event tickets,Konocti Harbor Resort and Spa - Indoor
        Showroom schedule, buy, sell, ticket","leaf":"true","localeDescription":"SF
        Bay Area, California","meta_description":"Konocti Harbor Resort and Spa -
        Indoor Showroom Tickets - Buy and sell Konocti Harbor Resort and Spa - Indoor
        Showroom event tickets and check out the Konocti Harbor Resort and Spa - Indoor
        Showroom schedule in Kelseyville, CA at StubHub!","name_primary":"Konocti
        Harbor Resort and Spa - Indoor Showroom - Kelseyville","parent_id":"81","season_venue_flag":"0","seo_description":"Konocti
        Harbor Resort and Spa - Indoor Showroom Tickets","seo_title":"Konocti Harbor
        Resort and Spa - Indoor Showroom Tickets - Konocti Harbor Resort and Spa -
        Indoor Showroom Events","threeLevelsUpIds":"59782 81 4","title":"Konocti Harbor
        Resort and Spa - Indoor Showroom Tickets - Konocti Harbor Resort and Spa -
        Indoor Showroom Schedule at StubHub!","urlpath":"konocti-harbor-resort-and-spa-indoor-showroom-event-tickets","urlpathid":"68106","ancestorDescription":"Konocti
        Harbor Resort and Spa - Indoor Showroom SF Bay Area California United States
        By Geography","home_team":"konocti-harbor-resort-and-spa-indoor-showroom","date_last_modified":"2013-04-17T18:13:11Z","locale":["en_US"],"geography_meta_description":"Konocti
        Harbor Resort and Spa - Indoor Showroom","venueDetailUrlPath":"konocti-harbor-resort-and-spa-indoor-showroom","venueDetailUrlPathId":"2072302","nodeType":"Venue","ancestorGeoPath":"196976/4/81","ancestorVenuePath":"59782","dateLastIndexed":"2014-01-12T12:50:39.016Z","_version_":1457028906351591424},{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-144714","active":"1","deleted":"0","description":"Cathedral
        Hill Hotel","desc_sort":"Cathedral Hill Hotel","geoId":"144714","id":"144714","hidden":"1","ancestorGeoIds":"144714
        81 4 196976 0","ancestorKeywords":"Cathedral Hill Hotel TicketsCathedral Hill
        Hotel event ticketsCathedral Hill Hotel schedule buy sell ticket SF Bay Area
        event ticketsSF Bay Area Venues events in SF Bay Areatickets f[...]
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:geo%0D%0A%2B%20geoId:81989%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":3,"params":{"start":"0","q":"+stubhubDocument[...]
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:geo%0D%0A%2B%20description:Bob%20Hope%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":2,"params":{"start":"0","q":"+stub[...]
[...]
