---
http_interactions:
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/venue_zone_section/select/?q=%2Bvenue_section_id:62048&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":254,"params":{"wt":"json","rows":"10","start":"0","q":"+venue_section_id:62048"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"venue_zone_section-59070","stubhubDocumentType":"venue_zone_section","id":"59070","active":"1","venue_config_id":"2305","venue_zone_id":"10818","venue_zone_desc":"Floor","venue_zone_active":"1","venue_section_id":"62048","venue_section_active":"1","venue_zone_section_id":"59070","venue_section_primary_alias":"Floor
        112","venue_section_primary_alias_id":"44705","venue_section_primary_alias_map_id":"178099","venue_section_primary_alias_date_added":"2006-09-12T23:35:19Z","venue_section_primary_alias_date_last_modified":"2013-02-04T20:53:33Z","venue_zone_display_sort_order":"1","updateInitiatedTimestamp":"2013-04-25T12:40:56.120Z","dateLastIndexed":"2013-04-25T12:55:45.201Z","venue_section_alias_map_id":["178099"],"venue_section_alias_map_primary_display":["1"],"venue_section_alias_id":["44705"],"venue_section_alias":["Floor
        112"]}]}}'
  recorded_at: Sat, 27 Apr 2013 08:52:36 GMT
- request:
    method: get
    uri: http://partner-feed.stubhub.com/listingCatalog/venue_zone_section/select/?q=%2Bvenue_section_id:62048&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":1,"params":{"wt":"json","rows":"5500","q":"+venue_section_id:62048"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"venue_zone_section-59070","stubhubDocumentType":"venue_zone_section","id":"59070","active":"1","venue_config_id":"2305","venue_zone_id":"10818","venue_zone_desc":"Floor","venue_zone_active":"1","venue_section_id":"62048","venue_section_active":"1","venue_zone_section_id":"59070","venue_section_primary_alias":"Floor
        112","venue_section_primary_alias_id":"44705","venue_section_primary_alias_map_id":"178099","venue_section_primary_alias_date_added":"2006-09-12T23:35:19Z","venue_section_primary_alias_date_last_modified":"2013-02-04T20:53:33Z","venue_zone_display_sort_order":"1","updateInitiatedTimestamp":"2013-04-25T12:40:56.120Z","dateLastIndexed":"2013-04-25T12:55:45.201Z","venue_section_alias_map_id":["178099"],"venue_section_alias_map_primary_display":["1"],"venue_section_alias_id":["44705"],"venue_section_alias":["Floor
        112"]}]}}'
  recorded_at: Sat, 27 Apr 2013 08:53:47 GMT
recorded_with: VCR 2.4.0
